*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

/* all */
section.card-container,button{
    font-size: 14px !important;
}
.text-primary{
    color: #198754 !important;
}
.bg-primary{
    background-color: #198754 !important;
}
.btn-outline-primary{
    border: 1px solid #198754;
    background-color: white;
    color: #198754;
    transition: 0.3s ease-in-out;
}
.btn-outline-primary:hover{
    background-color: #198754;
    color: white;
}
i{
    color: #198754;
    font-size: 20px;
}
.col-12.col-lg-6.col-xl-4{
    padding: 10px;
}
.card{
    transition: 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.01);
    background-color: #D6EBE7;
}
/* header in card  */
a.clc-icon{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}
i.fa-x{
    color: #fff !important;
    font-size: 15px !important;
}

/* group-3 in card  */
.description{
    border: 1px solid rgba(83, 83, 83,0.2);
    max-height: 100px;
    overflow-y: auto;
}